.root {
  position: relative;
  margin: 0 -50px;
  width: calc(100% + 100px);
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 13vh 0;
  box-sizing: border-box;

  &>div {
    text-align: center;
    font-size: 24px;

    &>.high {
      color: #00deab;
    }
  }

  &>a {
    width: fit-content;
    background-color: #00deab;
    border-radius: 15px;
    padding: 10px 20px;
    text-shadow: 2px 2px 2px rgba(137, 137, 137, 0.5);
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
  }


  @media screen and (max-width: 425px) {
    // phone
    width: 100%;
    margin: 0;

    &>div {
      font-size: 16px;
    }
  }
}
