.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  width: 40%;

  @media screen and (max-width: 425px) {
    // phone
    width: 90%;
  }
}

.img {
  width: 50%;
  position: relative;

  &>img:nth-child(1) {
    width: 100%;
  }

  &>img:nth-child(2) {
    position: absolute;
    width: 60%;
    top: -20%;
    left: 80%;
  }


  @media screen and (max-width: 425px) {
    // phone
    width: 90%;
    margin-top: 50px;

    &>img:nth-child(2) {
      position: absolute;
      width: 40%;
      top: -45%;
      left: 65%;
    }
  }

}

.desc {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Spoqa Han Sans';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;

  margin-top: -3%;
  margin-bottom: 5%;

  &>div:nth-child(1) {
    font-size: 32px;
  }
}
