.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &>div {
    width: 80vw;
    padding: 67px 10vw 55px 10vw;

    &>.speakerBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &>div.record {
    background-color: #202020;
  }

  & .topBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.85);

    margin-bottom: 65px;

    .bold {
      font-size: 36px;
    }
  }

  & .subTopBar {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;

    margin-bottom: 70px;
  }

  @media screen and (max-width: 426px) {
    // phone
    width: 100%;
    margin: 0;
    padding: 0;

    & .topBar {
      justify-content: center;

      font-size: 24px;
      line-height: 23px;

      margin-bottom: 20px;

      &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &>div:nth-child(2) {
        display: none !important;
      }

      .bold {
        font-size: 24px;
      }
    }

    & .subTopBar {
      text-align: center;

      font-size: 24px;
      line-height: 23px;
    }
  }

  @media screen and (min-width: 425px) and (max-width: 768px) {

    // Tablet
  }


  @media screen and (min-width: 769px) and (max-width: 1024px) {}

}


.speakerItem {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 54px auto;

  &>div.imgBoxWrapper {
    width: 100%;
    height: 0;
    padding-top: 60%;
    display: flex;
    position: relative;
    margin-bottom: 24px;

    &>.imgBox {
      position: absolute;
      top: 0;

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: 0;
      }

      &>div {
        background-color: #202020;
        z-index: 9;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  & div.imgBox {
    width: 60%;
    height: 0;
    padding-top: 60%;

    border-radius: 50%;
    border: 2px dashed #00DEAB;
    position: relative;

    margin-bottom: 24px;

    &>img {
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background-position: center;

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      z-index: 10;

    }
  }

  &>div {
    font-family: Noto Sans KR;
    font-style: normal;
    text-align: center;


    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.85);
  }

  &>div.textBox {
    min-height: 170px;

    &>div.name {
      color: #FFFFFF;
      font-size: 36px;
      font-weight: bold;
    }

    &>div.belong {

      line-height: 52px;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: normal;
    }

    &>div.title {
      word-break: keep-all;
      color: #00DEAB;
      font-size: 24px;
      font-weight: bold;
    }

  }

  &>div.sessionBtn {
    margin-top: 33px;
    display: flex;
    width: 90px;

    padding: 8px 11px;
    border: 1px solid #B9B9B9;
    border-radius: 5px;

    justify-content: space-between;

    font-family: SpoqaHanSans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

    text-align: center;

    color: #B9B9B9;
    text-shadow: none;
    cursor: pointer;

    &>img {
      width: 26px;
      color: #B9B9B9;
      fill: #B9B9B9;

    }
  }



  @media screen and (max-width: 426px) {
    // phone
    width: 300px;

    &>div.name {
      font-size: 28px;
      line-height: 41px;
    }

    &>div.belong {
      font-size: 18px;
      line-height: 41px;
    }

    &>div.title {
      font-size: 18px;
      line-height: 41px;
    }

    &>div.sessionBtn {
      margin-top: 15px;

    }
  }

}


.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 45, 0.8);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;

  &>.container {
    max-width: 770px;
    background: #202020;
    box-shadow: 0px 0px 20px 5px #00DEAB;
    border-radius: 25px;

    padding: 40px 30px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;

    &>.subTitle {
      color: #00DEAB;
      font-size: 18px;
    }

    &>.title {
      color: #00DEAB;
      font-size: 20px;
      font-weight: bold;

      word-break: keep-all;
      padding-top: 10px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #B9B9B9;
    }

    &>.session {
      color: #B9B9B9;
      font-size: 16px;
      margin-bottom: 20px;
    }


    &>div.sessionBtn {
      display: flex;
      align-items: center;

      font-family: SpoqaHanSans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;

      text-align: center;

      color: #00DEAB;
      text-shadow: none;
      margin-bottom: 10px;

      &>img {
        width: 26px;
        margin-right: 7px;
      }
    }

    &>.desc {
      color: #B9B9B9;
      font-size: 16px;
    }
  }

}
