.root {
  padding: 68px 0;

  @media screen and (max-width: 425px) {
    // phone
    width: 100%;
    margin: 0;
  }
}

.title {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #eae5e9;
  cursor: pointer;

  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    &>img:nth-child(1) {
      height: 130px;
    }

    &>img:not(:nth-child(1)) {
      width: 60%;
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 425px) {
    // phone
    flex-direction: column;
    margin-top: 60px;

    &>div {
      text-align: center;
      width: 80%;

      &>img:nth-child(1) {
        height: 100px;
      }
    }
  }

  @media screen and (min-width: 425px) and (max-width: 768px) {

    // Tablet
    &>div>img:nth-child(1) {
      height: 110px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {

    // Tablet
    &>div>img:nth-child(1) {
      height: 100px;
    }
  }
}
