@font-face {
  font-family: "BigJohn";
  src: url(fonts/BIG_JOHN.otf) format("opentype");
}

body {
  margin: 0;
  padding: 37px 50px;

  background-color: #303033;
  color: #eae5e9;

  font-family: 'Black Han Sans', sans-serif;

  @media screen and (max-width: 425px) {
    // phone

    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
