@font-face {
  font-family: "BigJohn";
  src: url(fonts/BIG_JOHN.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  src: url(fonts/NotoSansKR-Regular.otf) format("opentype");
  font-weight: normal;
}


@font-face {
  font-family: "Noto Sans KR";
  src: url(fonts/NotoSansKR-Bold.otf) format("opentype");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;

  background-color: #303033;
  color: #eae5e9;

  font-family: "Black Han Sans", sans-serif;

  @media screen and (max-width: 425px) {
    // phone

    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

// .img {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }
