@font-face {
  font-family: 'big_johnregular';
  src: url('../fonts/BIG JOHN-webfont.eot');
  src: url('../fonts/BIG JOHN-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BIG JOHN-webfont.woff2') format('woff2'), url('../fonts/BIG JOHN-webfont.woff') format('woff'), url('../fonts/BIG JOHN-webfont.ttf') format('truetype'), url('../fonts/BIG JOHN-webfont.svg#big_johnregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'slim_joeregular';
  src: url('../fonts/Slim Joe-webfont.eot');
  src: url('../fonts/Slim Joe-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Slim Joe-webfont.woff2') format('woff2'), url('../fonts/Slim Joe-webfont.woff') format('woff'), url('../fonts/Slim Joe-webfont.ttf') format('truetype'), url('../fonts/Slim Joe-webfont.svg#slim_joeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
